<%- include('../layout/header.ejs') %>

    <body>
        <span style="font-size:30px;cursor:pointer" class="openNav" onclick="openNav()">&#9776;</span>
        <div id="mySidenav" class="sidenav">
            <div class="d-flex align-items-center justify-content-end"><a href="javascript:void(0)" class="closebtn"
                    onclick="closeNav()"><i class="fa-solid fa-arrow-left"></i></i></a></div>
            <!-- &times; -->
            <div class="zeediv d-flex align-items-center justify-content-center">
                <h3 class="zeecart">Zee<span href="" id="zeecart">C</span>art</h3>
            </div>

            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/dashboard?page=1">Dashboard</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/products?page=1">Products</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/catagory?page=1">Catagory</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/brands?page=1">Brand</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/payments?page=1">Payments</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="admin?page=1">Admins</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/customers?page=1">Customers</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="orders?page=1">Orders</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="coupon?page=1">Coupen</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="banner?page=1">Banner</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href=""></a></span></div>


        </div>
        <div class="col-12 d-flex justify-content-end" style="height: 80px;">
            <div class="col-md-3 col-6 d-flex justify-content-center align-items-center" style="height: 80px;">
                <form action="/getcatagory">
                    <button
                        style="border-radius: 5px;width: 140px;height: 40px;color: white; background-color: rgb(57, 57, 255);">Add
                        Catagory</button>
                </form>
            </div>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <p id="error">
                <%=err%>
            </p>
        </div>
        <div class="row d-flex align-items-center justify-content-center" style="width: 100vw;">

            <div class="col-2 col-md-3 col-lg-1 usertable">No</div>
            <div class="col-6 col-md-3 col-lg-2 usertable">Catagory Name</div>
            <div class="col-2 col-md-3 col-lg-1 usertable">Edit</div>
            <div class="col-2 col-md-3 col-lg-1 usertable">Delete</div>

        </div>
        <div style="height: 11  0vh;">
            <%catagoryz.forEach((x)=>{ %>
                <div class="row d-flex align-items-center justify-content-center" style="width: 100vw;">

                    <div class="col-2 col-md-3 col-lg-1 userlist d-flex justify-content-center">
                        <%=++i%>
                    </div>
                    <div class="col-6 col-md-3 col-lg-2 userlist d-flex justify-content-center">
                        <%=x.catagoryName%>
                    </div>
                    <div class="col-2 col-md-3 col-lg-1 userlist d-flex justify-content-center align-items-center">
                        <a style="padding: 2px 18px; background-color: green;border-radius: 5px;color: white;"
                            href="/editcatagory/<%-x._id%>">Edit</a>
                    </div>
                    <div class="popup" id="popup">
                        <h2>Alert</h2>
                        <p>Are you sure you want to delete this Catagory</p>
                        <div class="buttonClass">
                            <form action="/deletecatagory/<%-x._id%>"><button id="button" type="submit"
                                    onclick="closePopup()">Yes</button></form>
                            <button id="button" type="button" onclick="closePopup()">No</button>
                        </div>
                    </div>
                    <!-- <div class="col-2 col-md-3 col-lg-1 userlist d-flex justify-content-center align-items-center">
                        <a style="padding: 2px 12px; background-color: red;border-radius: 5px;color: white;" href="/deletecatagory/<%-x._id%>">Delete</a>
                    </div> -->
                    <div class="col-2 col-md-3 col-lg-1 userlist d-flex justify-content-center align-items-center">
                        <!-- <button class="delete-button" class="btn" onclick="openPopup()" onclick="return confirm('Are you sure to delete this item?')" -->
                        <button class="delete-button" class="btn" onclick="return confirm('Are you sure to delete this item?')"
                            style="padding: 2px 12px; background-color: red; border-radius: 5px; color: white;">Delete</button>
                    </div>


                </div>
                <%}) %>
        </div>


        <div class="col-lg-12 d-flex justify-content-center" style="">
            <nav aria-label="page navigation example">
                <ul class="pagination">
                    <% for(i=1; i < (dataCount/2)+1; i++) {%>
                        <li class="page-item"><a class="page-link" href="/catagory?page=<%=i%>"><%=i%></a></li>
                        <%} %>
                </ul>
            </nav>
        </div>
        <script>

            let popup = document.getElementById('popup');
            function openPopup() {
                popup.classList.add('open-popup')
            }
            function closePopup() {
                popup.classList.remove('open-popup')
            }


            function openNav() {
                document.getElementById("mySidenav").style.width = "200px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>

        <%- include('../layout/footer.ejs') %>