<%- include('../layout/header.ejs') %>

    <body style="background-color: rgb(219, 219, 255);">
        <main class="px-md-4 icons " style="margin-left: 18%;width: 80%; margin-top: 6%;">

            <div class="row d-flex justify-content-between">
                <div class="col-md-8">
                    <h1 class="mt-5">Edit Product</h1>
                    <br>
                    <form action="/editedproduct/<%=product._id%>" method="post" enctype="multipart/form-data" class="bg-white" >
                        <div class="form-group" style="background-color: rgb(219, 219, 255);">
                            <label for="productName">Product Name : </label>
                            <input type="text" name="ProductName" value="<%=product.ProductName%>" class="form-control bg-light" id="productName"
                                placeholder="Enter product name" required />
                        </div>
                        <div class="form-group" style="background-color: rgb(219, 219, 255);">
                            <label for="productDescription">Product Description:</label>
                            <input type="text" name="Discription" style="height: 100px;" value="<%=product.Description%>" class="form-control bg-light" id="productName"
                                placeholder="Enter product name" required />
                        </div>
                        <div class="form-group" style="background-color: rgb(219, 219, 255);">
                            <label for="productSpecification">Product Specification1:</label>
                            <input type="text" name="Specification4" style="height: 100px;" value="<%=product.Specification1%>" class="form-control bg-light" id="productName"
                                placeholder="Enter product name" required />
                            <label for="productSpecification2">Product Specification2:</label>
                            <input type="text" name="Specification2" style="height: 100px;" value="<%=product.Specification2%>" class="form-control bg-light" id="productName"
                                placeholder="Enter product name" required />
                            <label for="productSpecification3">Product Specification3:</label>
                            <input type="text" name="Specification3" style="height: 100px;" value="<%=product.Specification3%>" class="form-control bg-light" id="productName"
                                placeholder="Enter product name" required />
                            <label for="productSpecification4">Product Specification4:</label>
                            <input type="text" name="Specification4" style="height: 100px;" value="<%=product.Specification4%>" class="form-control bg-light" id="productName"
                                placeholder="Enter product name" required />
                        </div>
                        <p style="background-color: rgb(219, 219, 255);">Upload Images</p>
                        <div>
                            <input type="file" value="<%=product.images[0]%>" name="main" accept="image/*" style="width: 188px; height:188px;">
                            <input type="file" value="<%=product.images[1]%>" name="image1" accept="image/*" style="width: 188px; height:188px;">
                            <input type="file" value="<%=product.images[2]%>" name="image2" accept="image/*" style="width: 188px; height:188px;">
                            <input type="file" value="<%=product.images[3]%>" name="image3" accept="image/*" style="width: 188px; height:188px;">
                        </div>
                        <div class="border p-3 mb-3" style="background-color: rgb(219, 219, 255);">
                            <h2>Pricing</h2>
                            <div class="form-group">
                                <label for="basePrice">Base Price:</label>
                                <input type="number" value="<%=product.Price%>" name="Price" class="form-control bg-light" id="basePrice"
                                    placeholder="Enter base price" required />
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="discountAmount">Discount Amount:</label>
                                <input type="number" value="<%=product.DiscountAmount%>" name="DiscountAmount" class="form-control bg-light"
                                    id="discountAmount" placeholder="Enter discount amount" required />
                            </div>
                        <div class="border p-3 mb-3" style="background-color: rgb(219, 219, 255);">
                            <h2>Stock</h2>
                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <input type="number" value="<%=product.AvailableQuantity%>" name="AvailableQuantity" class="form-control bg-light"
                                    id="quantity" placeholder="Enter quantity" required />
                            </div>
                        </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="bg-white p-3">
                        <div class="form-group">
                            <br>
                            <label>Category:</label>
                            <select class="form-select bg-light" id="category" name="Category" required>
                                <option value="<%=product.Category%>" selected disabled><%=product.Category%></option>
                                <option>BUDGET SMARTPHONES</option>
                                <option>FLAGSHIP SMARTPHONES</option>
                                <option>BEST SELLING SMARTPHONES</option>
                                <option>IOS SMARTPHONES</option>
                                <option>GAMING SMARTPHONES</option>
                            </select>
                        </div><br>
                        <div class="form-group">
                            <br>
                            <label>Brand Name:</label>
                            <select name="BrandName" class="form-select bg-light" id="brand" required>
                                <option value="<%=product.BrandName%>" selected disabled><%=product.BrandName%></option>
                                <option>SAMSUNG</option>
                                <option>APPLE</option>
                                <option>XIOMI</option>
                                <option>REALME</option>
                                <option>VIVO</option>
                                <option>OPPO</option>
                            </select>
                        </div><br>
                        <div class="form-group">
                            <label for="tags">Tags:</label>
                            <input type="text" class="form-control bg-light" value="<%=product. Tags%>" name="Tags" id="tags"
                                placeholder="Enter tags" required />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary ms-3">Add Product</button>
                </div>
                </form>
            </div>
        </main>

        <%- include('../layout/footer.ejs') %>