<%- include('../layout/header.ejs') %>

    <body>
        <span style="font-size:30px;cursor:pointer" class="openNav" onclick="openNav()">&#9776;</span>
        <div id="mySidenav" class="sidenav">
            <div class="d-flex align-items-center justify-content-end"><a href="javascript:void(0)" class="closebtn"
                    onclick="closeNav()"><i class="fa-solid fa-arrow-left"></i></i></a></div>
            <!-- &times; -->
            <div class="zeediv d-flex align-items-center justify-content-center">
                <h3 class="zeecart">Zee<span href="" id="zeecart">C</span>art</h3>
            </div>

            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/dashboard?page=1">Dashboard</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/products?page=1">Products</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/catagory?page=1">Catagory</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/brands?page=1">Brand</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/offers?page=1">Offers</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/admin?page=1">Admins</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/customers?page=1">Customers</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/orders?page=1">Orders</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/coupon?page=1">Coupen</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href="/banner?page=1">Banner</a></span></div>
            <div class="btnz d-flex align-items-center justify-content-center"><span><a class="a-tag"
                        href=""></a></span></div>

        </div>


        

        <div class="table-responsive pb-5">
            <table id="tbOrderHistory" class="table border ps-table w-100 mb-3">
                <thead>
                    <tr>
                        <th class="font-weight-bold py-2 border-0 ">No</th>
                        <th class="font-weight-bold py-2 border-0 quantity">Order ID</th>
                        <th class="font-weight-bold py-2 border-0 ">User ID</th>
                        <th class="font-weight-bold py-2 border-0 ">Purchased On</th>
                        <th class="font-weight-bold py-2 border-0 ">Payment Method</th>
                        <th class="font-weight-bold py-2 border-0 ">Payment Status</th>
                        <th class="font-weight-bold py-2 border-0 ">Total</th>
                        <th class="font-weight-bold py-2 border-0 ">Status</th>
                        <th class="font-weight-bold py-2 border-0 ">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%orderDetails.forEach((x)=> {%>
                        <tr>
                            <td><%=++i%></td>
                            <td>ODR[<%= x._id %>]
                            </td>
                            <td>#<%= x.userId %>
                            </td>
                            <td>
                                <%= x.orderDate.toLocaleDateString()%>
                                <%= x.orderDate.toLocaleTimeString()%>
                            </td>
                            <td>
                                <%= x.paymentMethod %>
                            </td>
                            <td>
                                <%= x.PaymentStatus %>
                            </td>
                            <td>
                                <% if(x.discountAmount) {%>
                                    <%=x.discountAmount%>
                                    <%}else{%>
                                        <%= x.totalAmount %>
                                        <%} %>
                            </td>
                            <td>
                                <% if (x.orderStatus !=='Cancelled' && x.orderStatus !=='Requested' && x.orderStatus
                                    !=='rejected' && x.orderStatus !== 'Return Order' ) { %>
                                    <% const currentStatus=x.orderStatus || 'Order Placed' ; %>
                                        <select class="form-select text-success" id="statusSelect<%= i %>"
                                            onchange="updateOrderStatus('<%= x._id %>', this.value)">
                                            <option value="Order Processed" <%=currentStatus==='Order Processed'
                                                ? 'selected' : '' %>>Order Processed</option>
                                            <option value="Shipped" <%=currentStatus==='Shipped' ? 'selected' : '' %>
                                                >Order Shipped</option>
                                            <option value="Order in Route" <%=currentStatus==='Order in Route'
                                                ? 'selected' : '' %>>Order in Route</option>
                                            <option value="Order Arrived" <%=currentStatus==='Order Arrived'
                                                ? 'selected' : '' %>
                                                >Order Arrived</option>
                                            <option value="Rejected" <%=currentStatus==='Rejected' ? 'selected' : '' %>
                                                >Rejected</option>
                                        </select>

                                        <% } else if(x.orderStatus=='Cancelled' ) { %>
                                            <h6 class="text-danger bg-warning p-1 d-flex justify-content-center"><b>
                                                    Cancelled</b></h6>
                                            <% } else if(x.orderStatus=='Requested' ){ %>
                                                <a class="btn btn-danger" href="/returnRequest/<%=x._id%>">Return
                                                    Request</a>
                                                <%} else if(x.orderStatus=='rejected' ) {%>
                                                    <h5 class="text-danger">Return Rejected</h5>
                                                    <%}else if(x.orderStatus=='Return Order' ) {%>
                                                        <h5 class="text-success">Return Order</h5>  <%}%>

                            </td>
                            <td>
                                <a class="btn btn-primary" href="/viewDetails/<%= x._id%>?id=<%= x.address%>">View</a>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 d-flex justify-content-center">
            <nav aria-label="page navigation example">
                <ul class="pagination">
                    <% for(i=1; i < (dataCount/10)+1; i++) {%>
                        <li class="page-item"><a class="page-link" href="/orders?page=<%=i%>">
                                <%=i%>
                            </a></li>
                        <%} %>
                </ul>
            </nav>
        </div>

        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "200px";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
        <script>

            function updateOrderStatus(orderId, newStatus) {
                console.log(orderId)
                console.log(newStatus)
                fetch(`/updateOrderStatus/${orderId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ status: newStatus }),
                })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.success) {
                            alert('Order status updated successfully!');
                        } else {
                            alert('Failed to update order status.');
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        </script>

        <%- include('../layout/footer.ejs') %>