<%- include('../layout/header.ejs') -%>
    <%- include('../layout/user/header.ejs') -%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .coupon-card {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        max-width: 200px;
    }

    .coupon-code {
        font-size: 1.2rem;
        font-weight: bold;
        /* margin: 10px 0; */
    }

    .copy-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }
</style>

<body>

    <div class="container mt-5">
        <div class="row">
            <% coupons.forEach((x)=> {%>
                <div class="coupon-card border shadow rounded col-6 col-md-3 m-3" style="background: #ffe5ae;">
                    <img src="/assets/diwali.png" width="150" alt="Coupon Image">
                    <!-- <p class="discription"><%=x.description%></p> -->
                    <h4>
                        <%=x.description%>
                    </h4>
                    <p class="coupon-code">
                        <%=x.couponCode%>
                    </p>
                    <p class="expiredate">
                        <b>
                            <%=x.expiryDate%>
                        </b>
                    </p>
                    <button class="copy-button">Copy</button>
                </div>
                <%}) %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
        document.addEventListener("click", function (event) {
            const copyButton = event.target.closest(".copy-button");

            if (copyButton) {
                const couponCard = copyButton.closest(".coupon-card");
                const couponCode = couponCard.querySelector(".coupon-code");

                const textArea = document.createElement("textarea");
                textArea.value = couponCode.innerText;
                document.body.appendChild(textArea);
                textArea.select();
                document.execCommand("copy");
                document.body.removeChild(textArea);

                Toastify({
                    text: 'coupon copied',
                    duration: 1500,
                    gravity: 'top',
                    position: 'center',
                    backgroundColor: 'green',
                    style: {
                        borderRadius: '10px',
                    },
                }).showToast();
            }
        });
    </script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</body>

</html>