<%- include('../layout/header.ejs') -%>
    <!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/zeecart.png" type="image/x-icon">
    <title>ZeeCart | Find yours</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/userstyle.css">
    <script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body style="overflow-x: hidden;">

    <div class="main-navbar shadow-sm sticky-top" style="background-color: #fff;">
        <div class="top-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                        <h5 class="brand-name">Zee<span href="" id="zeecart">C</span>art</h5>
                    </div>
                    <div class="col-md-5 my-auto">
                        <form role="search" action="#" method="post">
                            <div class="input-group">
                                <input name="value" type="search" placeholder="Search your product" class="form-control" />
                                <button class="btn bg-white" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 my-auto">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <i class="fa-solid fa-house-chimney" style="color: #ffffff;"></i> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-shopping-cart"></i> Shop
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-shopping-cart"></i> Cart
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-heart"></i> Wishlist
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/login"><i class="fa fa-user"></i> Login</a>
                                    </li>
            
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- ------------------------------------------------------carousel----------------------------------------------------------------- -->

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/Banner_1.jpg" class="d-block w-100" alt="Banner1">
                </div>
                <div class="carousel-item">
                    <img src="assets/Banner_2.jpg" class="d-block w-100" alt="Banner2">
                </div>
                <div class="carousel-item">
                    <img src="assets/Banner_3.jpg" class="d-block w-100" alt="Banner3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-----------------------------------------------------------Product List----------------------------------------------------------------------- -->

        <div class="py-3 py-md-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-4"><strong>BEST SELLING MOBILES</strong></h4>
                    </div>
                    <%arr.forEach((x)=>{ %>
                        <a href="/productspecs/<%-x._id%>" class="card col-6 col-md-2">
                            <form action="/addToCart/<%=x._id%>" method="post">
                                <img class="card-img-top" src="/product-images/<%= x.images[0] %>" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <%=x.ProductName%>
                                    </h6>
                                    <p class="card-text" style="font-weight: 700;">₹<%=x.Price%>/-</p>
                                    <button style="font-size: small;" type="submit" class="btn btn-secondary">Add To
                                        Cart</button>
                                </div>
                            </form>
                        </a>

                        <%}) %>
                </div>
            </div>
        </div>

        <!-----------------------------------------------------------------carousel------------------------------------------------------------- -->

        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/Banner_1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/Banner_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/Banner_3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- ------------------------------------------------------Product List---------------------------------------------------------------- -->

        <div class="py-3 py-md-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-4"><strong>FLAGSHIP MOBILES</strong></h4>
                    </div>
                    <%arr.forEach((x)=>{ %>
                        <a href="/productspecs/<%-x._id%>" class="card col-6 col-md-2">
                            <form action="/addToCart/<%=x._id%>" method="post">
                                <img class="card-img-top" src="/product-images/<%= x.images[0] %>" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        <%=x.ProductName%>
                                    </h6>
                                    <p class="card-text" style="font-weight: 700;">₹<%=x.Price%>/-</p>
                                    <button style="font-size: small;" type="submit" class="btn btn-secondary">Add To
                                        Cart</button>
                                </div>
                            </form>
                        </a>
                        <%}) %>
                </div>
            </div>
        </div>

        <!-- ----------------------------------------------------------------Footer---------------------------------------------------------------- -->
        <%- include('../layout/user/footer.ejs') -%>