<%- include('../layout/header.ejs') -%>
<%-include('../layout/user/header.ejs')-%>

    <!-- ------------------------------------------------------carousel----------------------------------------------------------------- -->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/Banner_1.jpg" class="d-block w-100" alt="Banner1">
            </div>
            <div class="carousel-item">
                <img src="assets/Banner_2.jpg" class="d-block w-100" alt="Banner2">
            </div>
            <div class="carousel-item">
                <img src="assets/Banner_3.jpg" class="d-block w-100" alt="Banner3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-----------------------------------------------------------Product List----------------------------------------------------------------------- -->

    <div class="py-3 py-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-4"><strong>BEST SELLING MOBILES</strong></h4>
                </div>
                <%imgs.forEach((x)=>{ %>

                    <div class="card col-6 col-md-3">
                        <img class="card-img-top" style="height: 320px; padding: 18px;" src="/product-images/<%= x.images[0] %>" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%=x.ProductName%></h5>
                          <p class="card-text" style="font-weight: 700;">₹<%=x.Price%>/-</p>
                          <a href="/productspecs/<%-x._id%>" class="btn btn-primary">view Details</a>
                        </div>
                      </div>

                    <%}) %>
            </div>
        </div>
    </div>

    <!-----------------------------------------------------------------carousel------------------------------------------------------------- -->

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/Banner_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/Banner_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/Banner_3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- ------------------------------------------------------Product List---------------------------------------------------------------- -->

    <div class="py-3 py-md-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-4"><strong>FLAGSHIP MOBILES</strong></h4>
                </div>
                <%imgs.forEach((x)=>{ %>

                    <div class="card col-6 col-md-3">
                        <img class="card-img-top" style="height: 320px; padding: 18px;" src="/product-images/<%= x.images[0] %>" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title"><%=x.ProductName%></h5>
                          <p class="card-text" style="font-weight: 700;">₹<%=x.Price%>/-</p>
                          <a href="/productspecs/<%-x._id%>" class="btn btn-primary">view Details</a>
                        </div>
                      </div>

                    <%}) %>
            </div>
        </div>
    </div>

    <!-- ----------------------------------------------------------------Footer---------------------------------------------------------------- -->
    <%- include('../layout/user/footer.ejs') -%>
    