<%- include('../layout/header.ejs') -%>
    <%- include('../layout/user/header.ejs') -%>

        <div class="main-wrapper">
            <div class="container">
                <div class="product-div">
                    <div class="product-div-left">
                        <div class="img-container" id="img-show">
                            <img src="/product-images/<%=prodSpec.images[0]%>" alt="mobile">
                        </div>
                        <div class="hover-container">
                            <div><img src="/product-images/<%=prodSpec.images[0]%>"></div>
                            <div><img src="/product-images/<%=prodSpec.images[1]%>"></div>
                            <div><img src="/product-images/<%=prodSpec.images[2]%>"></div>
                            <div><img src="/product-images/<%=prodSpec.images[3]%>"></div>
                        </div>
                    </div>
                    <div class="product-div-right">
                        <span class="product-name">
                            <%=prodSpec.ProductName%>
                                <%=prodSpec.Specification1%>|<%=prodSpec.Specification4%>
                        </span>
                        <%if(prodSpec.AvailableQuantity==0) {%>
                            <label class="stock bg-danger">Out of Stock</label>
                            <%}else if(prodSpec.AvailableQuantity <=10) {%>
                                <label class="stock bg-danger">Only <%=prodSpec.AvailableQuantity%> left</label>
                                <%}else {%>
                                    <label class="stock bg-success">In Stock</label>
                                    <%} %>
                                        <span class="product-price"> ₹<%=prodSpec.Price%>/-</span>
                                        <!-- <div class="product-rating">
                                            <span><a href="/addToWishlist/<%=prodSpec._id%>?page=" id="wishbutton"
                                                    style="border: 0;">
                                                    <%if(status){%>
                                                        <i class="fa-solid fa-heart fa-2xl text-danger"
                                                            style="color: #b5b5b5;width: 4 0px;"></i>
                                                        <%}else{%>
                                                            <i class="fa-solid fa-heart fa-2xl"
                                                                style="color: #b5b5b5;width: 4 0px;"></i>
                                                            <%}%>
                                                </a></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star-half-alt"></i></span>
                                            <span>(350 ratings)</span>
                                        </div> -->
                                        <p class="product-spec">
                                            <i class="fa-solid fa-circle fa-2xs"></i>
                                            <%=prodSpec.Specification1%><br>
                                                <i class="fa-solid fa-circle fa-2xs"></i>
                                                <%=prodSpec.Specification2%><br>
                                                    <i class="fa-solid fa-circle fa-2xs"></i>
                                                    <%=prodSpec.Specification3%><br>
                                                        <i class="fa-solid fa-circle fa-2xs"></i>
                                                        <%=prodSpec.Specification4%>
                                        </p>
                                        <p class="product-description">
                                            <%=prodSpec.Description%>
                                        </p>
                                        <%if(prodSpec.AvailableQuantity==0) {%>
                                            <div class="btn-groups">
                                                <button type="button" class="add-cart-btn"></i>Notify Me
                                                </button>
                                            </div>
                                            <%}else {%>
                                                <div class="btn-groups">
                                                    <!-- <form action="/addToCart/<%=prodSpec._id%>" method="post"> -->
                                                    <button type="submit" onclick="addToCart('<%=prodSpec._id%>')"
                                                        class="add-cart-btn"><i class="fas fa-shopping-cart"></i>add to
                                                        cart</button>
                                                    <!-- </form> -->
                                                    <button type="button" class="buy-now-btn"><i
                                                            class="fas fa-wallet"></i>buy now</button>
                                                </div>
                                                <%} %>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script>

            function addToCart(productId) {
                var cartQuantityElement = document.getElementById('cart-count');
                // console.log(cartQuantityElement.textContent);
                // cartQuantityElement.textContent = parseInt(cartQuantityElement.textContent) + 1;
                $.ajax({
                    url: `/addToCart/${productId}`,
                    method: 'POST',
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            cartQuantityElement.textContent = response.quantity;
                            Toastify({
                                text: 'Item added to cart',
                                duration: 1500,
                                gravity: 'top',
                                position: 'center',
                                backgroundColor: 'black',
                                style: {
                                    borderRadius: '10px',
                                },
                            }).showToast()
                                .then(function () {
                                    // You can add a callback function here if needed
                                    console.log('Response from the server:', response);
                                });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        Toastify({
                            text: 'Oops, something went wrong!',
                            duration: 1500,
                            gravity: 'top',
                            position: 'center',
                            backgroundColor: 'black',
                            style: {
                                borderRadius: '10px',
                            },
                        }).showToast()
                    }
                });
            }
        </script>
        <script>


            const allHoverImages = document.querySelectorAll(".hover-container div img");
            const imgContainer = document.querySelector(".img-container");

            window.addEventListener("DOMContentLoaded", () => {
                allHoverImages[0].parentElement.classList.add("active");
            });

            allHoverImages.forEach((image) => {
                image.addEventListener("mouseover", () => {
                    imgContainer.querySelector("img").src = image.src;
                    resetActiveImg();
                    image.parentElement.classList.add("active");
                });
            });

            function resetActiveImg() {
                allHoverImages.forEach((img) => {
                    img.parentElement.classList.remove("active");
                });
            }
            var options = {
                width: 250,
                zoomWidth: 800,
                offset: { vertical: 100, horizontal: 100 },
                zIndex: 1000 
            };
            new ImageZoom(document.getElementById("img-show"), options);


            function changeImage() {
                let main = document.getElementById('productImage');
                main.style.src()
            }

        </script>
        </body>

        </html>