<%- include('../layout/header.ejs') -%>
    <%- include('../layout/user/header.ejs') -%>

        <style>
            body {
                color: #000;
                overflow-x: hidden;
                height: 100%;
                /* background-color: #8C9EFF; */
                background-repeat: no-repeat;
            }

            .card {
                z-index: 0;
                background-color: #ECEFF1;
                padding-bottom: 20px;
                margin-top: 90px;
                margin-bottom: 90px;
                border-radius: 10px;
            }

            .top {
                padding-top: 40px;
                padding-left: 13% !important;
                padding-right: 13% !important;
            }

            /*Icon progressbar*/
            #progressbar {
                margin-bottom: 30px;
                overflow: hidden;
                color: #455A64;
                padding-left: 0px;
                margin-top: 30px;
            }

            #progressbar li {
                list-style-type: none;
                font-size: 13px;
                width: 25%;
                float: left;
                position: relative;
                font-weight: 400;
            }

            #progressbar .step0:before {
                font-family: FontAwesome;
                content: "\f10c";
                color: #fff;
            }

            #progressbar li:before {
                width: 40px;
                height: 40px;
                line-height: 45px;
                display: block;
                font-size: 20px;
                background: #C5CAE9;
                border-radius: 50%;
                margin: auto;
                padding: 0px;
            }

            /*ProgressBar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 12px;
                background: #C5CAE9;
                position: absolute;
                left: 0;
                top: 16px;
                z-index: -1;
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                position: absolute;
                left: -50%;
            }

            #progressbar li:nth-child(2):after,
            #progressbar li:nth-child(3):after {
                left: -50%;
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                position: absolute;
                left: 50%;
            }

            #progressbar li:last-child:after {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            #progressbar li:first-child:after {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            /*Color number of the step and the connector before it*/
            #progressbar li.active:before,
            #progressbar li.active:after {
                /* background: #651FFF; */
                background: orangered;
            }

            #progressbar li.active:before {
                font-family: FontAwesome;
                content: "\f00c";
            }

            .icon {
                width: 60px;
                height: 60px;
                margin-right: 15px;
            }

            .icon-content {
                padding-bottom: 20px;
            }

            @media screen and (max-width: 992px) {
                .icon-content {
                    width: 50%;
                }
            }
        </style>
        <div class="container px-1 px-md-4 py-5 mx-auto">
            <% if(orderDetails.length==0) {%>
                <div class="card min-vh-100 d-flex justify-content-center align-items-center border shadow">
                    <h1 class="alert-danger">No Orders Found</h1>
                </div>
                <%}else{%>
                    <%orderDetails.forEach((x)=> {%>
                        <div class="card border border-dark">
                            <div class="row d-flex justify-content-between px-3 top">
                                <!-- <% if(x.orderStatus=='Order Arrived' ) {%>
                                    <div class="d-flex justify-content-end">
                                        <form action="/downloadInvoice/<%=x._id%>" method="post">
                                            <button class="btn btn-success">Download Invoice</button>
                                        </form>
                                    </div>
                                    <%} %> -->
                                <div class="d-flex">
                                    <h5>Order ID :<span class="text-dark font-weight-bold"> ODR - <%=x._id%>
                                                </span>
                                    </h5>
                                </div>

                                <div class="d-flex">
                                    <% x.products.forEach((item)=> { %>
                                        <ul>
                                            <img src="/product-images/<%= item.productId.images[0] %>"
                                                alt="<%= item.productId.images[0]%>" style="width: 80px;">
                                            <li>
                                                <b>
                                                    <%= item.productId.ProductName %>
                                                </b>
                                                <br> Quantity: <%= item.quantity %>
                                            </li>
                                        </ul>
                                            <%}) %>
                                </div>
                                <div class="d-flex" style="line-height: 10px;">
                                    <% if(x.couponCode) {%>
                                        <table class="table">
                                            <tr style="background: rgb(241, 255, 184);">
                                                <th>Coupon Code</th>
                                                <th>Total Amount</th>
                                                <th>Discount Amount</th>
                                                <th>Final Amount</th>
                                            </tr>
                                            <tr style="background: rgb(241, 255, 184);">
                                                <td>
                                                    <i>
                                                        <%=x.couponCode%>
                                                    </i>
                                                </td>
                                                <td><i>₹<%=x.totalAmount%>/-</i></td>
                                                <td>
                                                    <i>
                                                        <%=x.couponDiscount%>/-
                                                    </i>
                                                </td>
                                                <td><i>₹<%=x.discountAmount%>/-</i></td>
                                            </tr>
                                        </table>
                                        <%}else{%>
                                            <h5><span class="font-weight-bold"> Total Amount : ₹
                                                    <%=x.totalAmount%>
                                                        <%} %>

                                </div>
                                <div class="d-flex flex-column text-sm-right" style="line-height: 20px;">

                                    <% let orderDate=new Date(x.orderDate) %>
                                        <p class="card-text" style="line-height: 10px;">
                                            <b>Ordered Date and Time:</b>
                                            <i>
                                                <%= orderDate.toLocaleDateString() || 'N/A' %>
                                                    <%= orderDate.toLocaleTimeString() || 'N/A' %>
                                            </i>
                                        </p>
                                        <p class="card-text" style="line-height: 10px;">
                                            <b>Expected Delivery Date and Time:</b>
                                            <% if (x.expectedDeliveryDate) { %>
                                                <i>
                                                    <%= (new Date(x.expectedDeliveryDate)).toLocaleString() %>
                                                        <% } else { %>
                                                            N/A
                                                            <% } %>
                                                </i>
                                        </p>

                                        <p style="line-height: 10px;"><strong>Payment Method : <span
                                                    class="text-success">
                                                    <%=x.paymentMethod%>
                                                </span></strong></p>

                                        <p><span class="font-weight-bold"><b>Delivery Address</b> :
                                                <i>
                                                    <%= x.address.houseName %>,<%= x.address.locality %>, <br>
                                                            <%= x.address.city %> , <%= x.address.district %> ,
                                                                    <%= x.address.state %> , <br>
                                                                        PIN : <%= x.address.pincode %>
                                                </i>
                                            </span></p>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-12">
                                    <ul id="progressbar" class="text-center">

                                        <% if (x.orderStatus=='Order Processed' ) { %>
                                            <% for (let i=0; i < 1; i++) { %>
                                                <li class="<%= active %>"></li>
                                                <% } %>
                                                    <%}%>
                                                        <% if (x.orderStatus=='Shipped' ) { %>
                                                            <% for (let i=0; i < 2; i++) { %>
                                                                <li class="<%= active %>"></li>
                                                                <% } %>
                                                                    <%}%>
                                                                        <% if (x.orderStatus=='Order in Route' ) { %>
                                                                            <% for (let i=0; i < 3; i++) { %>
                                                                                <li class="<%= active %>"></li>
                                                                                <% } %>
                                                                                    <%}%>
                                                                                        <% if
                                                                                            (x.orderStatus=='Order Arrived'
                                                                                            ) { %>
                                                                                            <% for (let i=0; i < 4; i++)
                                                                                                { %>
                                                                                                <li
                                                                                                    class="<%= active %>">
                                                                                                </li>
                                                                                                <% } %>
                                                                                                    <%}%>
                                                                                                        <% if
                                                                                                            (x.orderStatus=='Rejected'
                                                                                                            ) { %>
                                                                                                            <h3
                                                                                                                class="text-danger">
                                                                                                                Order
                                                                                                                Cancelled
                                                                                                                by
                                                                                                                Admin
                                                                                                            </h3>
                                                                                                            <%}%>
                                                                                                                <% if
                                                                                                                    (x.orderStatus=='Cancelled'
                                                                                                                    ) {
                                                                                                                    %>
                                                                                                                    <h2
                                                                                                                        class="alert alert-danger">
                                                                                                                        Order
                                                                                                                        Cancelled
                                                                                                                    </h2>
                                                                                                                    <%}%>
                                                                                                                        <% if
                                                                                                                            (x.orderStatus=='Return Order'
                                                                                                                            )
                                                                                                                            {
                                                                                                                            %>
                                                                                                                            <h2
                                                                                                                                class="alert alert-danger">
                                                                                                                                Order
                                                                                                                                Returned
                                                                                                                            </h2>
                                                                                                                            <%}
                                                                                                                                %>
                                                                                                                                <% if
                                                                                                                                    (x.orderStatus=='rejected'
                                                                                                                                    )
                                                                                                                                    {
                                                                                                                                    %>
                                                                                                                                    <h2
                                                                                                                                        class="alert alert-danger">
                                                                                                                                        Order
                                                                                                                                        Rejected
                                                                                                                                        by
                                                                                                                                        Admin
                                                                                                                                    </h2>
                                                                                                                                    <%}
                                                                                                                                        %>
                                                                                                                                        <% if
                                                                                                                                            (x.orderStatus=='Requested'
                                                                                                                                            )
                                                                                                                                            {
                                                                                                                                            %>
                                                                                                                                            <h2
                                                                                                                                                class="alert alert-danger">
                                                                                                                                                Requested
                                                                                                                                                for
                                                                                                                                                Return
                                                                                                                                            </h2>
                                                                                                                                            <%}
                                                                                                                                                %>

                                    </ul>
                                </div>
                            </div>
                            <div class="row d-flex top">
                                <div class="col-3 d-flex icon-content">
                                    <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
                                    <div class="d-flex flex-column">
                                        <p class="font-weight-bold">Order<br>Processed</p>
                                    </div>
                                </div>
                                <div class="col-3 d-flex icon-content justify-content-center">
                                    <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
                                    <div class="d-flex flex-column">
                                        <p class="font-weight-bold">Order<br>Shipped</p>
                                    </div>
                                </div>
                                <div class="col-3 d-flex icon-content justify-content-end">
                                    <img class="icon" src="https://i.imgur.com/TkPm63y.png">
                                    <div class="d-flex flex-column">
                                        <p class="font-weight-bold">Order<br>En Route</p>
                                    </div>
                                </div>
                                <div class="col-3 d-flex icon-content justify-content-end">
                                    <img class="icon" src="https://i.imgur.com/HdsziHP.png">
                                    <div class="d-flex flex-column">
                                        <p class="font-weight-bold">Order<br>Arrived</p>
                                    </div>
                                </div>
                            </div>
                            <% if(x.orderStatus !=='Cancelled' && x.orderStatus !=='rejected' && x.orderStatus
                                !=='Return Order' && x.orderStatus !=='Order Arrived' ) {%>
                                <div class="d-flex justify-content-end">
                                    <a class="btn  btn-danger mx-3" id="cancelBtn"
                                        onclick="updateOrderStatus('<%= x._id %>','Cancelled' )" href="">Cancel
                                        Order</a>

                                </div>

                                <%}else if(x.orderStatus=='Order Arrived' ) {%>
                                    <div class="d-flex justify-content-end">
                                        <!-- <a class="btn  btn-primary mx-3" id="cancelBtn" onclick="updateOrderStatus('<%= x._id %>','Return Order' )"
                                        href="">Return Order</a> -->
                                        <button class="btn btn-primary mx-3 " id="openModal">Return Order</button>
                                    </div>
                                    <div id="myModal" class="modal p-5 mt-5" style="background: rgb(190, 190, 190);">
                                        <div class="modal-content p-5">
                                          <span class="close" id="closeModal">&times;</span>
                                          <form action="/returnItem/<%=x._id%>" method="post">
                                            <h4 class="bg-primary d-flex justify-content-center py-2 text-white">Return Product</h4>
                                            <label for="returnReason">Reason for Return:</label>
                                            <select id="returnReason" name="returnReason" required>
                                              <option value="defective">Defective</option>
                                              <option value="wrong-model">Wrong Model</option>
                                              <option value="changed-mind">Changed Mind</option>
                                              <option value="other">Other</option>
                                            </select>
                                            <textarea name="description" placeholder="Description" style="width: 100%;" required></textarea>
                                            <div class="d-flex justify-content-center">
                                              <button type="submit" class="btn btn-secondary" onclick="return confirm('Are you sure you want to return this order')">Request</button>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    <!-- <div id="myModal" class="modal">
                                        <form action="/returnItem/<%=x._id%>" method="post">
                                            <div class="row d-flex justify-content-center align-items-center">
                                                <div class="col-12 col-md-4 my-5"
                                                    style="border: 5px solid #3c3c3c;border-radius: 15px;background-color: rgb(224, 224, 255);">
                                                    <br>
                                                    <h4
                                                        class="bg-primary d-flex justify-content-center py-2 text-white">
                                                        Return Product</h4>
                                                    <label for="returnReason">Reason for Return:</label>
                                                    <select id="returnReason" name="returnReason">
                                                        <option value="defective">Defective</option>
                                                        <option value="wrong-model">Wrong Model</option>
                                                        <option value="changed-mind">Changed Mind</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                    <br>
                                                    <br>
                                                    <textarea name="description" id="" placeholder="description"
                                                        style="width: 100%;"></textarea>
                                                    <div class="d-flex justify-content-center">
                                                        <button type="submit" class="btn btn-secondary"
                                                            onclick="return('are you sure you want to return this order')"
                                                            style="color: white;">Request</button>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </form>
                                    </div> -->
                                    <%} %>
                        </div>
                        <%})%>
        </div>
        <%} %>
            <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
            <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script> -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

            <script>

                function updateOrderStatus(orderId, newStatus) {
                    if (confirm('Are you sure to cancel this order?')) {
                        fetch(`/deleteOrderStatus/${orderId}?status=${newStatus}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            // body: JSON.stringify({ status: newStatus }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                if (data.success) {
                                    alert('Order status deleted successfully!');
                                } else {
                                    alert('Failed to update order status.');
                                }
                            })
                            .catch((error) => {
                                console.error('Error:', error);
                            });
                    }
                }

                // $(document).ready(function () {
                //     $("#openModal").click(function () {
                //         $("#myModal").modal('show');
                //     });
                // });

            </script>
            <script>
                // Get the modal element and the button that opens it
                const modal = document.getElementById('myModal');
                const btnOpenModal = document.getElementById('openModal');
                const closeModal = document.getElementById('closeModal');
              
                // Open the modal when the button is clicked
                btnOpenModal.addEventListener('click', () => {
                  modal.style.display = 'block';
                });
              
                // Close the modal when the close button is clicked
                closeModal.addEventListener('click', () => {
                  modal.style.display = 'none';
                });
              
                // Close the modal if the user clicks outside of it
                window.addEventListener('click', (event) => {
                  if (event.target === modal) {
                    modal.style.display = 'none';
                  }
                });
              </script>

            <!-- <%- include('../layout/user/footer.ejs') -%> -->
        <%- include('../layout/user/footer.ejs') -%>
