<%-include('../layout/user/header.ejs')-%>


    <div class="row d-flex" style="width: 100vw;">

        <div class="col-2 col-lg-1 usertable d-flex align-items-center">No</div>
        <div class="col-2 col-lg-1 usertable d-flex align-items-center">Image</div>
        <div class="col-2 col-lg-2 usertable d-flex align-items-center">Name</div>
        <div class="col-2 col-lg-1 usertable d-flex align-items-center">Purchaseed on</div>
        <div class="col-2 col-lg-1 usertable d-flex align-items-center">Total Price</div>
        <div class="col-2 col-lg-1 usertable d-flex align-items-center">Payment Method</div>
        <div class="col-2 col-lg-1 usertable d-flex align-items-center">Status</div>

    </div>
    <div style="border: 1px solid rgb(255, 159, 159);">
        <%orders.forEach((x)=>{ %>
            <form action="/block/<%-x._id%>" method="post">

                <div class="row d-flex" style="width: 100vw;border: 1px solid rgb(255, 162, 162);">

                    <div class="col-2 col-lg-1 userlist d-flex justify-content-center align-items-center">
                        <%=i++%>
                    </div>
                    <div class="col-10 col-lg-1 userlist d-flex align-items-center">
                        <img width="50px" src="/product-images/<%=x.productId.images[0] %>" alt="">
                    </div>
                    <div class="col-10 col-lg-2 userlist d-flex align-items-center">
                        <%=x.productId.BrandName%>
                            <%=x.productId.ProductName%>
                    </div>
                    <div class="col-2 col-lg-1 userlist d-flex align-items-center">12/10/2023</div>
                    <div class="col-6 col-lg-1 userlist d-flex align-items-center" id="Blockstatus">
                        <p>
                            ₹<%=orderDetails[0].totalAmount%>/-
                        </p>
                        </a>
                    </div>
                    <div class="col-6 col-lg-1 userlist d-flex align-items-center" id="Blockuser">
                        <%=orderDetails[0].paymentMethod%>
                    </div>
                    <div class="col-6 col-lg-1 userlist d-flex align-items-center">
                        <%=orderDetails[0].orderStatus%>
                    </div>
                    <div class="col-6 col-lg-1 userlist d-flex align-items-center">
                        <a class="btn btn-success" href="/viewdetails/<%=orderDetails[0].id%>">View</a>
                    </div>
                </div>
            </form>
            <%}) %>
    </div>

    <%- include('../layout/user/footer.ejs') -%>