<%- include('../layout/header.ejs') -%>
<%-include('../layout/user/header.ejs')-%>

    <header class="orderHead">
        <h5>User > My Orders</h5>
    </header>

    <%imgs.forEach((x)=> { %>
        <div class="orders-container">
            <div class="order-item d-flex">
                <div style="width: 100px;height: 100px;margin-right: 10px;"><img class="card-img-top"
                        style="height: 90px;width: 90px;" src="/product-images/<%=x.images[0] %>" alt="Card image cap">
                </div>
                <div class="d-flex justify-content-center align-items-center"
                    style="width: 180px;height: 100px;margin-right: 10px;">
                    <p>
                        <%=x.BrandName%><br>
                            <%=x.ProductName%>
                    </p>
                </div>
                <div class="d-flex justify-content-center align-items-center"
                    style="width: 100px;height: 100px;margin-right: 10px;">
                    <p>₹<%=x.Price%>/-</p>
                </div>
                <div class="d-flex justify-content-center align-items-center"
                    style="width: 170px;height: 100px;margin-right: 10px;">
                    <a href="" style="text-decoration: none;padding:3px 8px; border-radius: 50%;"><i
                            class="fa-solid fa-plus" style="color: black;"></i></a>
                    <div style="width: 80px;height: 30px;text-align: center;border: 2px solid black;">1</div><a
                        style="text-decoration: none;padding:3px 8px; border-radius: 50%;" href=""><i
                            class="fa-solid fa-minus" style="color: black;"></i></a>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 150px;height: 100px;">
                    <p></p>
                </div>
            </div>
        </div>
        <%}) %>
            </div>
            <%- include('../layout/user/footer.ejs') -%>