<%-include('../layout/user/header.ejs')-%>
    <%- include('../layout/header.ejs') -%>

        <header>
            <h1>User Profile</h1>
        </header>
        <div class="container">
            <div class="profile-card">
                
                <div class="user-info">
                    <h2><%=data.name%></h2>
                    <p>Email: <%=data.email%></p>
                    <p>Address: <%=data.address%>,<%=data.locality%>,<%=data.district%>,<%=data.state%>,<%=data.pincode%></p>
                    <a style="padding: 8px 10px;text-decoration: none;background-color: blue;border-radius: 5px;color: white;" href="/getAddAddress">Add Address</a>
                    <a style="padding: 8px 10px;text-decoration: none;background-color: blue;border-radius: 5px;color: white;" href="">Change Password</a>
                </div>
            </div>
        </div>
   
    

        <%- include('../layout/user/footer.ejs') -%>