<%- include('../layout/header.ejs') -%>
    <%- include('../layout/user/header.ejs') -%>

        <section>
            <div class="main-navbar shadow-sm sticky-top" style="width: 100vw;">
                <ul style="list-style: none;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            </i><strong>Filter</strong>
                        </a>
                        <ul class="dropdown-menu p-4" style="line-height: 10px;" aria-labelledby="navbarDropdown">
                            <li>
                                <h6><strong>PRICE</strong></h6>
                            </li>
                            <li><a class="dropdown-item" href="/priceSort?sort=minus">
                                    <p>LOW TO HIGH</p>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="/priceSort?sort=plus">
                                    <p>HIGH TO LOW</p>
                                </a>
                            </li>
                            <li>
                                <h6><strong>PRICE RANGE</strong></h6>
                            </li>
                            <li><a class="dropdown-item" href="/priceAboveFourty?type=ascending">
                                    <p>UNDER 40000</p>
                                </a></li>
                            <li><a class="dropdown-item" href="/priceAboveFourty?type=descending">
                                    <p>ABOVE 40000</p>
                                </a></li>
                            <li>
                                <h6><strong>BRAND</strong></h6>
                            </li>
                            <li><a class="dropdown-item" href="/brandFilter?brandData=SAMSUNG">
                                    <p>SAMSUNG </p>
                                </a></li>
                            <li><a class="dropdown-item" href="/brandFilter?brandData=APPLE">
                                    <p>APPLE </p>
                                </a></li>
                            <li><a class="dropdown-item" href="/brandFilter?brandData=REALME">
                                    <p>REALME </p>
                                </a></li>
                            <li><a class="dropdown-item" href="/brandFilter?brandData=XIOMI">
                                    <p>XIOMI </p>
                                </a></li>
                            <li>
                                <h6><strong>CATEGORY</strong></h6>
                            </li>
                            <li><a class="dropdown-item" href="/categoryFilter?catData=FLAGSHIP MOBILES">
                                    <p>FLAGSHIP MOBILES </p>
                                </a></li>
                            <li><a class="dropdown-item" href="/categoryFilter?catData=MOST SELLING MOBILES">
                                    <p>MOST SELLING MOBILES </p>
                                </a></li>
                            <li><a class="dropdown-item" href="/categoryFilter?catData=IOS MOBILES">
                                    <p>IOS MOBILES</p>
                                </a></li>
                            <li><a class="dropdown-item" href="/categoryFilter?catData=BUDGET SMARTPHONES">
                                    <p>BUDGET SMARTPHONES </p>
                                </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

        <div class="py-3 py-md-5 bg-light">
            <div class="container">
                <div class="row min-vh-100">
                    <%if(imgs[0]) {%>
                        <% imgs .forEach((x)=>{ %>
                            <div class="col-6 col-md-3">
                                <div class="product-card">
                                    <div style="height: 300px;" class="product-card-img p-3">
                                        <img src="/product-images/<%= x.images[0] %>" alt="Laptop">
                                    </div>
                                    <%if(x.AvailableQuantity==0) {%>
                                        <label class="stock bg-danger">Out of Stock</label>
                                        <%}else if(x.AvailableQuantity <=10) {%>
                                            <label class="stock bg-danger">Only <%=x.AvailableQuantity%> left</label>
                                            <%}else {%>
                                                <label class="stock bg-success">In Stock</label>
                                                <%} %>
                                                    <div class="product-card-body">
                                                        <p class="product-brand"></p>
                                                        <h5 class="product-name">
                                                            <%=x.ProductName%>
                                                        </h5>
                                                        <div>
                                                            <span class="selling-price">₹
                                                                <%=Math.trunc(x.DiscountAmount)%>/-
                                                            </span>
                                                            <span class="original-price">₹<%=x.Price%>/-</span>
                                                        </div>
                                                        <div class="mt-2">
                                                            <%if(x.AvailableQuantity==0) {%>
                                                                <a class="btn btn1">Notify Me</a>
                                                                <%}else {%>
                                                                    <a class="btn btn1"
                                                                        onclick="addToCart('<%=x._id%>')">Add To
                                                                        Cart</a>
                                                                    <%} %>
                                                                        <!-- <% if(x.inWish) {%>
                                                                            <a onclick="removeFromWish('<%=x._id%>')"
                                                                                class="btn btn1"> <i
                                                                                    class="fa fa-heart"></i>
                                                                            </a>
                                                                            <%}else {%> -->
                                                                        <a onclick="addToWishlist('<%=x._id%>')"
                                                                            class="btn btn1"> <i
                                                                                class="fa fa-heart"></i>
                                                                        </a>
                                                                        <!-- <%}%> -->
                                                                        <a href="/productspecs/<%=x._id%>"
                                                                            class="btn btn1"> View
                                                                        </a>
                                                        </div>
                                                    </div>
                                </div>
                            </div>
                            <%}) %>
                                <%}else{%>
                                    <h1>No Mobiles Available </h1>
                                    <%}%>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script>

            function addToCart(productId) {
                var cartQuantityElement = document.getElementById('cart-count');
                // console.log(cartQuantityElement.textContent);
                // cartQuantityElement.textContent = parseInt(cartQuantityElement.textContent) + 1;
                $.ajax({
                    url: `/addToCart/${productId}`,
                    method: 'POST',
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            cartQuantityElement.textContent = response.quantity;
                            Toastify({
                                text: 'Item added to cart',
                                duration: 1500,
                                gravity: 'top',
                                position: 'center',
                                backgroundColor: 'black',
                                style: {
                                    borderRadius: '10px',
                                },
                            }).showToast()
                                .then(function () {
                                    // You can add a callback function here if needed
                                    console.log('Response from the server:', response);
                                });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        Toastify({
                            text: 'Oops, something went wrong!',
                            duration: 1500,
                            gravity: 'top',
                            position: 'center',
                            backgroundColor: 'black',
                            style: {
                                borderRadius: '10px',
                            },
                        }).showToast()
                    }
                });
            }

            function addToWishlist(productId) {

                $.ajax({
                    url: `/addToWishlist/${productId}`,
                    method: 'GET',
                    success: function (response) {
                        console.log(response);
                        if (response.success) {
                            Toastify({
                                text: 'Item added to wishlist',
                                duration: 1500,
                                gravity: 'top',
                                position: 'center',
                                backgroundColor: 'black',
                                style: {
                                    borderRadius: '10px',
                                },
                            }).showToast().then(function () {
                                location.reload();
                                console.log('Response from the server:', response);
                            });

                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                        Toastify({
                            text: 'oops!Something went wrong',
                            duration: 1500,
                            gravity: 'top',
                            position: 'center',
                            backgroundColor: 'red',
                            style: {
                                borderRadius: '10px',
                            },
                        }).showToast()
                    }
                });
            }


            // function removeFromWish(productId) {

            //     $.ajax({
            //         url: `/removeFromWishlist/${productId}`,
            //         method: 'POST',
            //         success: function (response) {
            //             console.log(response);
            //             if (response.success) {
            //                 Swal.fire({
            //                     icon: 'success',
            //                     title: 'Item removed from wishlist',
            //                     showConfirmButton: false,
            //                     timer: 1500
            //                 }).then(function () {
            //                     location.reload();
            //                     console.log('Response from the server:', response);
            //                 });
            //             }
            //         },
            //         error: function (xhr, status, error) {
            //             console.error('Error:', error);
            //             Swal.fire({
            //                 icon: 'error',
            //                 title: 'Oops, something went wrong!'
            //             });
            //         }
            //     });
            // }

            function searchProducts() {
                const searchInput = document.getElementById("searchInput").value;
                fetch(`/search?query=${searchInput}`)
                    .then(response => response.json())
                    .then(data => {
                        displaySearchResults(data);
                    });
            }

            function displaySearchResults(results) {
                const searchResults = document.getElementById("searchResults");
                searchResults.innerHTML = '';

                if (results.length === 0) {
                    searchResults.textContent = "No products found.";
                } else {
                    results.forEach(product => {
                        const productElement = document.createElement("div");
                        productElement.textContent = product.name;
                        searchResults.appendChild(productElement);
                    });
                }
            }

        </script>
        <%- include('../layout/user/footer.ejs') -%>