<%- include('../layout/header') %>

<div class="containerone">
    <div class="row  d-flex">
        <div class="col-12 col-lg-4" id="divone">
            <h3 class="zeecart">Zee<span href="" id="zeecart">C</span>art</h3>
        </div>
        <div class="col-8 col-lg-4 p-2" id="divtwo">
            <div class="centr-div">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="ipt">
                    <!-- <button class=" btn" type="submit"><i class="fa-solid fa-magnifying-glass" id="srch"></i></button> -->
                </form>
            </div>
        </div>
        <div class="col-4 col-lg-4 menu d-flex justify-content-end align-items-end" id="divthree">
            <ul class="djrock">
                <li><a href="" class="fa-solid fa-cart-shopping"></a></li>
                <li><a href="" class="fa-solid fa-heart"></a></li>
                <li><a href="" class="fa-solid fa-house-chimney"></a></li>
            </ul>
        </div>

    </div>
    <div class="containers d-flex">
        <div class="row">
            <% img.forEach((img)=>{%>
                <div class="col-6 col-md-2 mt-4" >
                    <div class="card" >
                        <img src="<%=img.url%>" alt="" class="card-img-top" height="200px">
                        <div class="card-body">
                            <h4 class="card-title"><%=img.title%></h4>
                        </div>
                    </div>
                </div>
            <%})%>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-fluid" src="<%=banner.url%>" alt="">
        </div>
    </div>
</div>

<%- include('../layout/footer') %>