<%- include('../layout/header.ejs') -%>
    <%- include('../layout/user/header.ejs') -%>

        <div class="container">
            <div class="row">
                <div class="col-4 shadow">
                    <div class="border border-danger mt-1 shadow" style="height: 300px; overflow: scroll;">
                        <%if(userNames.length> 0) {%>
                            <h5 class="bg-secondary text-center text-white p-1">Invited Friends</h5>
                            <ol>
                                <%let i=1;%>
                                    <% userNames.forEach((x)=>{%>
                                        <li class="d-flex justify-content-between">
                                            <%=i++%> . <%=x%>
                                        </li>
                                        <%})%>

                            </ol>
                            <%}else{%>
                                <h5 class="text-center">No Invitation yet......!</h5>
                                <%} %>
                    </div>
                </div>
                <div class="col-8 shadow">
                    <div class="d-flex justify-content-center">
                        <h5 class="text-success mt-2"><b>Wallet Transaction</b></h5>
                    </div>
                    <div>
                        <div class="d-flex">
                            <div class="col-2 border border-warning text-center">
                                <h6 class="mt-2"><b>No</b></h6>
                            </div>
                            <div class="col-3 border border-warning text-center">
                                <h6 class="mt-2"><b>Reason</b></h6>
                            </div>
                            <div class="col-2 border border-warning text-center">
                                <h6 class="mt-2"><b>Type</b></h6>
                            </div>
                            <div class="col-3 border border-warning text-center">
                                <h6 class="mt-2"><b>Date</b></h6>
                            </div>
                            <div class="col-2 border border-warning text-center">
                                <h6 class="mt-2"><b>Amount</b></h6>
                            </div>
                        </div>
                        <% let val=0 %>
                            <% if(walletHistory) {%>
                                <% walletHistory.refund.forEach((x)=> {%>
                                    <div class="d-flex">
                                        <div class="col-2 border border-warning text-center">
                                            <%=++num%>
                                        </div>
                                        <div class="col-3 border border-warning text-center">
                                            <%=x.reason%>
                                        </div>
                                        <div class="col-2 border border-warning text-center">
                                            <%=x.type%>
                                        </div>
                                        <div class="col-3 border border-warning text-center">
                                            <%=dateArr[val]%>
                                        </div>
                                        <% if(x.type=='credit' ) {%>
                                            <div class="col-2 border border-warning text-success text-center">+
                                                <%=x.amount%>
                                            </div>
                                            <%}else{%>
                                                <div class="col-2 border border-warning text-danger text-center">-
                                                    <%=x.amount%>
                                                </div>
                                                <%} %>
                                    </div>
                                    <%}) %>
                                        <%}else{%>
                                            <h2 class="alert-warning text-center">No WalletHystory</h2>
                                            <%} %>
                    </div>
                </div>
                <div>
                    <div class="col-lg-12 d-flex justify-content-center">
                        <nav aria-label="page navigation example">
                            <ul class="pagination">
                                <% for(i=1; i < (Count/5)+1; i++) {%>
                                    <li class="page-item"><a class="page-link" href="/walletHystory?page=<%=i%>">
                                            <%=i%>
                                        </a></li>
                                    <%} %>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../layout/user/footer.ejs') -%>